body{
    background-color: #e2dedef3;
}

/* ************header****************** */
.slider{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
    background-image: url(../img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    
   
} 

   

.principal h1{
    
    text-align: center;
   
    text-transform: uppercase;
    
    font: normal normal normal 70px/65px Impact;
    padding-top: 10px;
    
    white-space: nowrap;
    font-weight: 100;
    margin-bottom: 0.4rem;
    letter-spacing: 0px;
    color: rgb(114, 81, 81);
    opacity: 1;



    
}

  
  #typewriter{
    text-shadow: white 1px 1px 1px;
      text-align: left;
      font: normal normal normal 35px Arial;
     margin: 0;
      font-family: "Courier New";
    animation: blink 500ms linear infinite ;
    left: 5px;
    color :#db0808 ;
    width: 50%;
      
  }
  
  
  .btn-hero{
    display: flex;
    text-align: center;
    position: relative;
    
    
}
.btn-acceuil{
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    border: 1px solid #db0808;
    width: 150px;
    cursor: pointer;
    margin-top: 2px;
  background-color: #61a3a5;
}
.btn-acceuil:hover{
    transition: all 0.2s ease;
    color: black;
    background: #949995;
}
.n1{
margin-left: 8vw;
}








    /**************** LANGAGES************************ */

    #langages{
        padding: 80px 80px 80px 20px;
        margin: 20px  6%;
        height: 530px;
        max-width: 640px;
     
       
    color: rgb(235, 175, 65);
    padding-top: 10px;
   

    text-transform: uppercase;
        background-image: url(../img/code.jpg);
        background-repeat: no-repeat;
    background-size: cover;
 
    font: normal normal normal 25px/20px Impact;

    }

   
   

    /******************** carrierre****************************** */

#parcours{
    max-width: 800px;
    margin: 600px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(../img/peu\ etre.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    opacity: 1;
    
}

#parcours h4{
    text-align: center;
    font-size: 2.6rem;
    color: #ff4e60;
    margin-left: 20px;
    text-shadow:#0d0e0d;
}
#parcours h5{
    font-size: italic;
    color: rgba(179, 118, 6, 0.644);
    text-shadow:#0d0e0d;}
    
#parcour p{
    line-height: 2.9em; 
    color: #0e0d0d;
    font-size: 2em large;
    text-shadow: white 1px 1px 1px;
}
.timeline{
    border-top: 3px solid;
    border-image: linear-gradient(to right, #f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 40px;
    position: relative;
}
.timeline:nth-child(1)::after{
   
   color:#ff4e50;
   position: absolute;
   top: -5px;
   right: -10px;
   box-sizing: content-box !important;
}
.timeline:nth-child(1){
    border-bottom: 3px solid;
    border-top: none;
   width: 80%; 
}
.timeline:nth-child(2){
    border-top: none;
}
.timeline:nth-child(odd){
    border-right: 3px solid;
    padding-left:0;
   
}
.timeline:nth-child(even){
    border-left: 3px solid;
    padding-right: 0;
    
}

/************************* autre competance *******************************/
.competance{
 
    margin: 600px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(../img/test.jpg) no-repeat fixed 30% 30%;
    background-size: cover;
    border-radius: 8px;
    font-size: xx-large;
    box-shadow: -1px -1px 8px #283655;
}


/*********************** Centre d'interet********************* */

main {
    margin: 60px auto;
    padding: 30px;
    width: 80%;
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 14px;
}

.cards {
    background-color: blanchedalmond;
    padding: 10px;
    margin: 0 9px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.66);
}


img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

img:hover {
    transform: scale(1.1);
}



/************************ GALLERY ***********************/

.mainGalerie {
    margin: 60px auto;
    padding: 30px;
    width: 80%;
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 14px;
}

.mainGalerie img {
    margin-bottom: 15px;
}

.mainGalerie img:nth-child(3n+2) {
    flex: 1;
}
/******************footer****************/

.footer{
  background-color: #B7B7B7;
   background-position: center;
   height: 100%;
} 
.divFooter a {
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
}


@media(max-width:480px){
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 50px/45px Impact;
        padding-top: 10px;
        
        white-space: nowrap;
        font-weight: 100;
        margin-bottom: 0.4rem;
        letter-spacing: 0px;
        color: rgb(114, 81, 81);
        opacity: 1;
    }
    #typewriter{
        text-align: left;
        font: normal normal normal 9px Arial;
        
        left: 1px;
        width: 100%;
        margin: auto;
        
        
    }
    

}


@media(max-width:810px){
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 60px/45px Impact;
        
    }
    #typewriter{
        text-align: left;
        font: normal normal normal 25px Arial;
        
        left: 1px;
        width: 100%;
        margin: auto;
        
        
    }
   
}

@media(max-width:385px){
    
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 45px Impact;
        
    }
    #typewriter{
        
        font: 4px;
        
        
        width: 100%;
        margin: auto;
        
        
    }
    


@media(max-width:430px){
    
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 45px Impact;
        
    }
    #typewriter{
        text-align: left;
        font: normal normal normal 12px Arial;
        
        left: 1px;
        width: 100%;
        margin: auto;
        
        
    }
  
}

@media(max-width:940x){
    
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 45px Impact;
        
    }
    #typewriter{
        text-align: left;
        font: normal normal normal 14px Arial;
        
        left: 1px;
        width: 100%;
        margin: auto;
        
        
    }
    .cv{
        width: 40%;
   
     border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; 
     text-decoration: none;
     margin: auto;
    
    }
   
}

@media(max-width:935px){
    
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 45px Impact;
        
    }
    #typewriter{
        text-align: left;
        font: normal normal normal 14px Arial;
        
        left: 1px;
        width: 100%;
        margin: auto;
        
        
    }
  
    
@media(max-width:375px){
    
    .principal h1{
        text-align: center;
   
        text-transform: uppercase;
        
        font: normal normal normal 35px Impact;
        
    }
    #typewriter{
        
        font: 2px;
        
      
        width: 100%;
        
        
        
    }
    .cv{
        width: 40%;
   margin: auto;
      

    }
   
}}}